DEBUG=0
# Directories
STATE_DIR="${SCRIPT_PARENT}/state"
LOG_DIR="${SCRIPT_PARENT}/log"
TMP_DIR="${SCRIPT_PARENT}/tmp"
# Errors
ERROR_LOG_FILE="${LOG_DIR}/error.log"
# Alerts
ALERT_LOG=1
ALERT_LOG_FILE="${LOG_DIR}/alert.log"
ALERT_MAIL=1
ALERT_MAIL_TO=""
ALERT_MAIL_SUBJECT_PREFIX="[$(hostname)] [un.monitor-smart]: "