# DIRECTORIES
STATE_DIR="${SCRIPT_PARENT}/state"
LOG_DIR="${SCRIPT_PARENT}/log"
TMP_DIR="${SCRIPT_PARENT}/tmp"
# ALERTS
ALERT_MAIL=1
ALERT_MAIL_TO="your-mail@domain.org"
ALERT_MAIL_SUBJECT="[$(hostname)] [${APP_NAME}]"
# LOG
LOG_FILE="${LOG_DIR}/alert.log"
LOG_TO_FILE=0
LOG_TO_CONSOLE=1
LOG_TO_CONSOLE_WITH_LVL=1
# 0: Emergency, 1: Alert, 2: Critical, 3: Error, 4: Warning, 5: Notice, 6: Info, 7: Debug
LOG_LVL=6
# SMART
SMART_INCLUDE_DISKS="all"
SMART_INCLUDE_DISKS=("/dev/sda")
# additional attributes that are not automatically included
# because (sometimes) they're of type 'old_age'
SMART_INCLUDE_SATA_ATTRIBUTES=(
	Offline_Uncorrectable
	UDMA_CRC_Error_Count
	Multi_Zone_Error_Rate	
)
SMART_CELSIUS_THRESH=29